<ion-view>
  <ion-nav-title>
    <small translate="MENU_SETTINGS"></small>
  </ion-nav-title>
  <ion-content class="padding">
    <div class="item item-divider">
      {{ 'SETTINGS_TITLE' | translate }}

    </div>
    <label class="item item-input">
      <span class="input-label">
 {{ 'SETTINGS_ANALYTICS_ID' | translate }}
      </span>
      <input type="text" ng-model="settings.analyticsID" placeholder="UA-00000-00">
    </label>

    <label class="item item-input item-select">{{ 'SETTINGS_SOUNDS' | translate }}
      <select ng-model="settings.sound" ng-change="updateSound()">
        <option value="sounds/Ariel.mp3">Ariel</option>
        <option value="sounds/Carme.mp3">Carme</option>
        <option value="sounds/Ceres.mp3">Ceres</option>
        <option value="sounds/Elara.mp3">Elara</option>
        <option value="sounds/Europa.mp3">Europa</option>
        <option value="sounds/Iapetus.mp3">Iapetus</option>
        <option value="sounds/Io.mp3">Io</option>
        <option value="sounds/Rhea.mp3">Rhea</option>
        <option value="sounds/Salacia.mp3">Salacia</option>
        <option value="sounds/Tethys.mp3">Tethys</option>
        <option value="sounds/Titan.mp3">Titan</option>


      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        {{ 'SETTINGS_ORIENTATION' | translate }}
      </div>
      <select ng-model="settings.disposition">
        <option value=0>{{ 'SETTINGS_DERECHA' | translate }}</option>
        <option value=1>{{ 'SETTINGS_IZQUIERDA' | translate }}</option>


      </select>
    </label>
    <button class="button button-full button-stable" ng-click="saveOptions()">
      <small translate="SETTINGS_GRABAR"></small>
    </button>
  </ion-content>
</ion-view>
