/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$balanced:                        #33cd5f !default;
$base-background-color:           #008e94 !default;

$stable:                          #e47200 !default;

$positive:                        #008e94 !default;
$dark:                            #008e94 !default;
$royal:                           #886aea !default;
$popup-background-color:          #444 !default;

$base-color:                      #fff !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;



/* Empty. Add your own CSS if you like */
.slider {
  height: 85vh;
  background-color: $base-background-color;
}
.slider-pager-page {
  color: white !important;
}

.slider-pager-page.active {
  color: $stable !important;
}

.button-facebook {
  color: #3b5998;
}


// Include all of Ionic
@import "../www/lib/ionic/scss/ionic.scss";





// #e47200
