
.image_tutorial {
  margin-left: auto;
  margin-right: auto;
  width:220px;

}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:320px;
  height: 240px;
}
#monitor {
  display: none;
  width: 320px;
  height: 240px;
}

#canvasLayers {
  position: relative;
  left: 0;
  top: 0;
  width: 320px;
  height: 320px
}

#videoCanvas {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 240px;
}

#layer2 {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 320px;
  height: 240px;
}

#blendCanvas {

  display: none;
  position: relative;
  left: 320px;
  top: 320px;
  width: 320px;
  height: 320px;
}

.button.button-facebook {
  border-color: transparent;
  background-color: #3b5998;
  color: #fff;

}

.button.button-facebook:hover {
  color: #fff;
  font-weight: bold;

  text-decoration: none;
}

.button.button-facebook.active, .button.button-facebook.activated {
  color: #3b5998;
  background-color: #8b9dc3;
}

.button.button-facebook.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #b2b2b2;
}

.button.button-facebook.button-icon {
  border-color: transparent;
  background: none;
}

.button.button-facebook.button-outline {
  border-color: #3b5998;
  background: transparent;
  color: #3b5998;
}

.button.button-facebook.button-outline.active, .button.button-facebook.button-outline.activated {
  background-color: #b2b2b2;
  box-shadow: none;
  color: #fff;
}


